body {
    font-family: Arial, sans-serif;
    background: #d2e9ff;
    padding: 30px;
}
form {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
input, select, textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background: #4096f7;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #4096f7;
}
h2 {
    text-align: center;
    color: #333;
}